.bio {
    height: auto;
    display: flex;
}

.bio-list {
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.bio-triangleHeader{
    clip-path: polygon(50% 50%, 0 0, 100% 0);
    width: 100%;
    height: auto;
    
    position:relative;
    bottom: 2px;
    padding: 30px;
}

.bio-triangleFooter {
    clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
    width: 100%;
    height: auto;
    background-color: rgb(165, 142, 107);
    position: relative;
    bottom: -1px;
    padding: 30px;    
}
