.bio {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bio-triangleHeader {
    clip-path: polygon(50% 50%, 0 0, 100% 0);
    width: 100%;
    height: auto;
    background-color: rgb(165, 142, 107);
    position:relative;
    bottom: 2px;
}

.bio-triangleFooter {
    clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
    width: 100%;
    height: auto;
    background-color: rgb(165, 142, 107);
    position: relative;
    bottom: 10;
}

.bio-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 960px) {
    .bio {
        height: 50vh;
    }

    .bio-list {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media screen and (max-width: 480px) {
    .bio-list {
        flex-direction: column;
        justify-content: space-around;
    }
}