.quotes {
    height: 100%;
    display: flex;
}

.quotes-bg {
    background-color: rgb(165, 142, 107);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.quotes-wrapper  {
    width: 53%; 
    text-align: center;
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.quotes-flower {
    pointer-events: none;
    max-width: 95px;
    position: relative;
    margin: 30px;
    transform: scale(0.5);
    opacity: 0;
}

.quotes-flower.active {
    animation: zoom ease 1s normal forwards;
}

.quotes-prayer {
    color: beige;
    font-weight: 470;
    font-size: 15px;
    transform: scale(0.5);
    opacity: 0;
}

.quotes-prayer.active {
    animation: zoom ease 1s normal forwards;
}

.quotes-verse {
    color: beige;
    font-weight: bold;
    margin: 30px;
    padding-bottom: 30px;
    transform: scale(0.5);
    opacity: 0;
}

.quotes-verse.active {
    animation: zoom ease 1s normal forwards;
}

@keyframes zoom {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.quotes-satu {
    width: 70%;
    position: relative;
    top: 225px;
    opacity: 0;
}


.quotes-satu.active {
    animation: naik-keatas 2s ease normal forwards;
}

@keyframes naik-keatas {
    0% {
        transform: translateY(0px);
        opacity: 0;
    }
    100% {
        transform: translateY(-225px);
        opacity: 1;
    }
}

.quotes-dua {
    width: 70%;
    bottom: 180px;
    position: relative;
    z-index: 0;
    opacity: 0;
}

.quotes-dua.active {
    animation: turun-kebawah ease 2s normal forwards;
}
@keyframes turun-kebawah {
    0% {
        transform: translateY(0px);
        opacity: 0;
    }
    100% {
        transform: translateY(180px);
        opacity: 1;
    }
}


.quotes-gambarSatu {
    pointer-events: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.quotes-gambarDua {
    pointer-events: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
}

.quotes-poemSatu{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 75%;
    background-color: white;
    height: auto;
    position: relative;
    text-align: center;
    bottom: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.quotes-poemDua{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 75%;
    background-color: white;
    height: auto;
    position: relative;
    z-index: 1;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.quotes-poemTitle{
    font-family: "Sacramento", cursive;
    font-size: 40px;
    padding-top: 20px;
    font-weight: 50;
    color: rgb(99, 99, 99);
    position: relative;
    right: 50px;
    opacity: 0;
}

.quotes-poemTitle.active {
    animation: gerak-kanan ease 2s normal forwards;
}

@keyframes gerak-kanan {
    0% {
        transform: translateX(0px);
        opacity: 0;
    }
    100% {
        transform: translateX(50px);
        opacity: 1;
    }
}

.quotes-poem {
    font-weight: bold;
    font-size: 14.5px; 
    padding: 30px;
    color: rgb(77, 77, 77);
    font-family: "Open Sans", cursive;
    position: relative;
    left: 50px;
    opacity: 0;
}

.quotes-poem.active {
    animation: gerak-kiri ease 2s normal forwards;
}

@keyframes gerak-kiri {
    0% {
        transform: translateX(0px);
        opacity: 0;
    }
    100% {
        transform: translateX(-50px);
        opacity: 1;
    }
}

.quotes-poemDots {
    pointer-events: none;
    font-size: 12px;
}

.quotes-heartImg{
    pointer-events: none;
    margin: 30px;
    width: 30px;
    animation: zoom-in-zoom-out 1s ease infinite;
}

@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.5, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
  }

@media screen and (max-width: 960px) {
    .quotes-bg {

    }

    .quotes-wrapper {
        width: 75%; 
        text-align: justify;
        text-align-last: center;
    }

    .quotes-flower {
        max-width: 95px;
    }

    .quotes-poemDots {
        content: "● ● ● ●";
    }
}

@media screen and (max-width: 480px) {
    .quotes-bg {

    }
    
    .quotes-wrapper {

    }

    .quotes-flower {
        max-width: 45px;
    }

    .quotes-poemDots span {
        display: none;
    }


    .quotes-satu {
        width: 60%;
    }

    .quotes-gambarSatu {
        object-fit: cover;
        width: 100%;
        height: 25vh;
    }

    .quotes-dua {
        width: 60%;
    }

    .quotes-gambarDua {
        object-fit: cover;
        width: 100%;
        height: 25vh;
    }    
}